.rotate1 {
    -webkit-animation: rotate 0.05s infinite linear;
    -webkit-animation-iteration-count: 15;
}

.rotate2 {
    -webkit-animation: rotate 0.1s infinite linear;
    -webkit-animation-iteration-count: 16;
}

.rotate3 {
    -webkit-animation: rotate 0.15s infinite linear;
    -webkit-animation-iteration-count: 17;
}


@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
